<!DOCTYPE html>

<head>
    <meta charet="UTF-8">
    <title>Scrape Information About Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
    <link rel="stylesheet" href="../static/css/style.css"> 
    <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}"> -->
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1>Mission to Mars</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2>Latest Mars News</h2>
                <h4>{{ mars.news_title }}</h4>
                <p>{{ mars.news_p }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <h2>Featured Mars Image</h2>
                <img alt="Featured Mars image" src={{ mars.featured_image }}>
            </div>

            <div class="col-lg-4">
                <div class="weather">
                    <h3>Current Weather on Mars</h3>
                    <p>{{ mars.mars_weather }}</p>
                    <br>
                </div>
                    <h3>Mars Facts</h3>
                    {{ mars.mars_fact_table|safe }}
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-lg-12" id="mars_hemispheres">
                <h2>Mars Hemispheres</h2>
                <hr>
                <div class="gallery">
                    {% for hem in mars.hemisphere_image_urls %}
                    <div class="hem_img_section">
                        <img  src={{ hem.img_url }} width="500px" height="500px">
                        <figcaption><h4>{{ hem.title }}</h4></figcaption>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-lg-12" id="mars_hemispheres">
                <h2>Mars Hemispheres</h2>
                <hr>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-1" id="mars_hemispheres">
            {% for hem in mars.hemisphere_image_urls %}
            <div class="col mb-4">
                <div class="card h-100">
                    <img src={{ hem.img_url }} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ hem.title }}</h5>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card h-100">
                    <img src={{ hem.img_url }} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ hem.title }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="row row-cols-1 row-cols-2">
            <div class="col mb-4">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
            </div>
          </div>

          <div class="card-deck">
            {% for hem in mars.hemisphere_image_urls %}
            <div class="card">
              <img src={{ hem.img_url }} class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>

            <div class="card">
                <img src={{ hem.img_url }} class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            {% endfor %}
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
</body>